.header_outer_container {
  background: rgba(10, 10, 10, 0.45);
  font-weight: 700;
  font-size: 15px;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 2;
}

.header_container {
  max-width: 1170px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.25em 2em;
}

.header_logo_image {
  width: 150px;
  height: 40px;
  object-fit: contain;
  cursor: pointer;
  position: relative;
}

.header_actions {
  display: flex;
  align-items: center;
  position: relative;
}

.header_actions p {
  cursor: pointer;
  padding: 0 1em;
}

.header_actions p:hover {
  color: limegreen;
}

.action_profile_container {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.action_profile_container:hover {
  color: limegreen;
}

.action_seperator {
  padding: 0 1em 0 0 !important;
  font-weight: normal !important;
}

.action_seperator:hover {
  color: white !important;
  cursor: auto;
}

.dropdown_action_profile_container {
  position: absolute;
  top: 50px;
  right: -15px;
  color: black;
  background-color: white;
  border-radius: 5px;
  width: 150px;
  text-align: left;
}

.arrow_up {
  position: absolute;
  top: -10px;
  right: 17px;
  width: 0;
  height: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-bottom: 10px solid white;
}

.dropdown_logout_text {
  color: rgba(10, 10, 10, 0.45);
}

.header_actions_mobile {
  display: none;
}

/***********/
/*Generics*/
/***********/
.margin_right_qtr {
  margin-right: 0.25em;
}

.pointer_curosr {
  cursor: pointer;
}

.color_hover:hover {
  color: limegreen !important;
}

.no_color_hover:hover {
  color: white !important;
}

/***********/
/*Set the top and right so we dont have weird spacing extras*/
/***********/
.pop_in_container {
  position: fixed;
  top: 0;
  right: 0;
  background: black;
  width: 350px;
  max-width: 100vw;
  height: 100vh;
  overflow-y: scroll;
  z-index: 2;
  display: flex;
  padding: 1em 2em 2em 2em;
  justify-content: space-between;
  box-sizing: border-box;
}

.pop_in_overlay_container {
  position: fixed;
  top: 0;
  right: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(10, 10, 10, 0.45);
  z-index: 1;
  cursor: initial;
}

.pop_in_content_container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
}

.pop_in_actionContainer {
  text-align: left;
}

/***********/
/*Setting the relative pos here so i can animate the slide in right*/
/***********/
.pop_in_actionContainer p {
  position: relative;
}

.pop_in_actionContainer p:hover {
  color: lightgreen;
}

.slideInRightMain {
  animation: fadeInAnimation 0.4s, slideInRightAnimation 0.4s;
}

.slideInRight {
  animation: fadeInAnimation 0.8s, slideInRightAnimation 0.4s;
}

.slideInRightSlow {
  animation: fadeInAnimation 0.8s, slideInRightAnimation 0.5s;
}

.slideInRightSlower {
  animation: fadeInAnimation 0.8s, slideInRightAnimation 0.6s;
}

.slideInRightSlowest {
  animation: fadeInAnimation 0.8s, slideInRightAnimation 0.7s;
}

.slideInRightSlowerer {
  animation: fadeInAnimation 0.8s, slideInRightAnimation 0.8s;
}

.slideInRightSlowestest {
  animation: fadeInAnimation 0.8s, slideInRightAnimation 0.9s;
}

.slideInRightSlowestestest {
  animation: fadeInAnimation 0.8s, slideInRightAnimation 1s;
}

.slideOutRightMain {
  animation: fadeOutAnimation 0.4s, slideOutRightAnimation 0.4s;
}

.fadeIn {
  animation: fadeInAnimation 0.4s;
}

.fadeOut {
  animation: fadeOutAnimation 0.4s;
}

@keyframes fadeOutAnimation {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

@keyframes fadeInAnimation {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes slideInRightAnimation {
  from {
    right: -50px;
  }
  to {
    right: 0;
  }
}

@keyframes slideOutRightAnimation {
  from {
    right: 0px;
  }
  to {
    right: -50px;
  }
}

/***********/
/*Tablet and mobile queries*/
/***********/
@media (max-width: 768px) {
  .header_outer_container {
    background: black;
  }

  .header_container {
    padding: 0.5em 1em;
  }

  .header_logo_image {
    height: 29px;
    width: 85px;
  }

  .header_actions_mobile {
    display: flex;
  }

  .header_actions {
    display: none;
  }
}
