.recentlyPlayed_outerContainer {
  background-image: linear-gradient(
    to bottom right,
    rgb(117, 35, 117),
    rgb(153, 153, 206)
  );
  padding-top: 70px;
  z-index: 1;
  flex: 2;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  max-height: 500px;
}

.banner__fade {
  height: 70px;
  background-image: linear-gradient(
    180deg,
    transparent,
    rgba(37, 37, 37, 0.61),
    #111
  );
  width: 100%;
}

.recentlyPlayed_contentContainer {
  max-width: 970px;
  margin: 0 auto;
}

.recentlyPlayed_playerContainer {
  display: flex;
  align-items: center;
}

.jumpBackIn_container {
  padding: 1em;
  flex: 1;
  text-align: left;
}

.webPlayer_button {
  background-color: rgb(53, 211, 53);
  border-radius: 30px;
  padding: 0.75em 0;
  font-size: 12px;
  border: none;
  outline-style: none;
  color: white;
  text-transform: uppercase;
  font-weight: 600;
  width: 175px;
  margin-top: 1em;
}

.webPlayer_button:hover {
  background-color: rgb(74, 235, 74);
  cursor: pointer;
}

.playlistGrid_Container {
  flex: 3;
  display: flex;
  flex-wrap: wrap;
  max-width: 446px;
  justify-content: center;
}

.playlistGrid_Container img {
  width: 125px;
  height: 125px;
  object-fit: cover;
  cursor: pointer;
}

.playlistAlbumContainer {
  position: relative;
  margin: 0.25em 0.45em;
}

.albumOverlay {
  position: absolute;
  top: 0;
  right: 0;
  background: rgba(10, 10, 10, 0.65);
  width: 100%;
  height: 98%;
  opacity: 0;
  transition: opacity 0.5s;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  overflow: hidden;
  font-size: 0.55em;
}

.albumOverlay:hover {
  opacity: 1;
  cursor: pointer;
}

.albumOverlay_title {
  font-size: 0.45em !important;
  color: rgb(161, 161, 161);
}

.albumOverlay_artistName {
  margin: 0.5em 0;
}

.recentlyPlayed_nextContianer {
  position: relative;
}

.hoverInfinite {
  position: relative;
  animation: hoverUpDown 2s linear infinite;
}

@keyframes hoverUpDown {
  0%,
  100% {
    bottom: -30px;
  }
  50% {
    bottom: -34px;
  }
}

.jumpBackInBottomBorder {
  height: 16px;
  background-color: yellow;
  border-radius: 10px;
  width: 0px;
  transition: width 0.5s ease-in;
}

.jumpBackInContainer:hover .jumpBackInBottomBorder {
  width: 100%;
}

/***********/
/*Tablet and mobile queries*/
/***********/
@media (max-width: 768px) {
  .recentlyPlayed_playerContainer {
    flex-direction: column;
  }
  .jumpBackIn_container {
    text-align: center;
    padding-top: 0px;
  }
}
