.loginContainer {
  display: flex;
  flex-direction: column;
  width: 80%;
  margin: 0 auto;
  justify-content: center;
  height: 100vh;
}

.loginFormContainer {
  display: flex;
  flex-direction: column;
  width: 30%;
  margin: 0 auto;
  background-color: rgba(0, 0, 0, 0.171);
  padding: 5em;
  border-radius: 10px;
  justify-content: center;
  text-align: left;
}

.loginInput {
  border: none;
  margin-bottom: 1em;
  background-color: transparent;
  border-bottom: 1px solid white;
  outline-style: none;
  caret-color: white;
}

.loginButton {
  padding: 1em;
  text-transform: uppercase;
  font-weight: bolder;
  background-color: transparent;
  border: 1px solid lightgray !important;
  border-radius: 3px;
  cursor: pointer;
  margin-bottom: 1em;
}

.loginButton:hover {
  background-color: rgba(255, 255, 255, 0.171);
}
